$button-background: #95a472;
$button-background-hover: #646165;
$button-color: #c8e087;
$button-color-hover: #ddfcad;

.button {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid white;
  color: $button-color;
  cursor: pointer;
  background: $button-background;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  text-transform: capitalize;
  text-decoration: none;

  &:hover {
    background: $button-background-hover;
    color: $button-color-hover;
  }
}
