.column {
    display: flex;
    justify-content: center;
    &:nth-child(odd) {
      padding-left: 0.5rem;
      padding-right: 0;
    }
    &:nth-child(even) {
      padding-right: 0.5rem;
      padding-left: 0;
    }
  }