$background-color: #82846d;
$font-color: #ddfcad;
$font-family: 'Poppins', sans-serif; 
$h1-font-size: 5rem;
$h1-font-weight: 500;
$h2-font-size: 3rem;
$h2-font-weight: 400;
$h3-font-size: 2rem;
$h3-font-weight: 300;
$p-font-size: 1.5rem;
$font-weight: 200;
$a-font-size: 1.7rem;
$color: #c8e087;
$background: #95a472;

h1 {
  font-size: $h1-font-size;
  font-family: $font-family;
  color: $font-color;
  font-weight: $h1-font-weight;
}

h2 {
  font-size: $h2-font-size;
  font-family: $font-family;
  font-weight: $h2-font-weight;
  color: $font-color;
}

h3 {
  font-size: $h3-font-size;
  font-family: $font-family;
  font-weight: $h3-font-weight;
  color: $font-color;
}

p {
  font-size: $p-font-size;
  font-family: $font-family;
  color: $font-color;
  font-weight: $font-weight;
}

a {
  font-size: $a-font-size;
  font-family: $font-family;
  color: $font-color;
  font-weight: $font-weight;
}

span {
  font-size: 3.5rem;
  background-color: $button-background;
  color: $font-color;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  display: inline-block;
  margin: .1rem;
}
